<!DOCTYPE html>
<html>
    <head>
        {% load custom_tags %}
        {% load static %}
        <title>Add object.</title>    
        <link rel='stylesheet' href="{% static 'styles.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    </head>
    
    <body>
        <h1>Add object.</h1>
        <img class = 'bar', src="{% static 'colorbarthing.png' %}">
        <br>
        <a class="big_link" href={% return_album_edit_link '' %}>Add Album.</a>
        <br>
        <a class="big_link" href={% return_collection_edit_link '' %}>Add Series.</a>
        <br>
        <a class="big_link" href={% return_list_edit_link '' %}>Add List.</a>
        <br><br>
        <a class="big_link" href="javascript:history.back()">Go Back</a>
    </body>
</html>

